*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}
:root{
  --text-color: #fff;
  --bg-color: #000;
  --main-color: #4378ff;
  --head-color: #f59d22;

  --h1-font: 3rem;
  --h2-font: 1rem;
  --p-font: 1rem;
}
body{
  color: var(--text-color);
  background: white;
  display: flex;
  flex-direction: column;
  background-position: top center;
  background-size: cover;
  background-image: linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0)), url(../img/polygon-scatter-haikei\ \(1\).svg);

}
header{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background: rgb(186, 186, 186);
  padding: 27px 17%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;
}
/* .logo_half{
  width: 10%;
  height: 10%;
} */
.navbar{
  display: flex;
}
.navbar a{
  color: black;
  font-size: var(--p-font);
  font-weight: 700;
  margin: 15px 22px;
  transition: all .50s ease;
}
.navbar a:hover{
  color: rgb(21, 120, 241);
}
.navbar li:hover{
  color: rgb(21, 120, 241);
  transform: translateY(-3px);
  transition: all .50s ease;
}
#navbar-contact a{
  color: rgb(255, 0, 17);
}
.h-right{
  display: flex;
  align-items: center;
}
.h-right a:first-child{
  color: black;
  font-size: var(--p-font);
  margin-right: 20px;
}
.h-right a{
  vertical-align: middle;
  font-size: 20px;
  color: var(--text-color);
  margin-right: 18px;
  margin-left: 5px;
  transition: all .50s ease;
}
.h-right a:hover{
  color: var(--main-color);
  transform: translateY(-3px);
}
#menu-icon{
  color: black;
  font-size: 30px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}


/* ---------------- PRESENCE DESIGN ----------------- */
/* ----------------------------------------------------- */

.PRESENCE{
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-size: cover; */
  /* background-position: top center; */
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 200px;
  flex: 1;
}
.presence-container h1{
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 10px;
  letter-spacing: 6px;
  color: black;
  text-transform: uppercase;
}
.presence-container h2{
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 0px;
  letter-spacing: 3px;
  color: black;
}
.world-map-container{
  width: 100%;
  max-width: 1200px;
  position: relative;

}
.world-map-container img{
  width: 80%;
}
.hotspot{
  width: 15px;
  height: 15px;
  background-color: rgb(253, 38, 38);
  border-radius: 50%;
  position: absolute;
  animation: wave 1s infinite;
}
.canada{
  left: 24%;
  top: 21%;
  cursor: pointer;
}
.states{
  left: 20%;
  top: 30%;
  cursor: pointer;
}
.uk{
  left: 46%;
  top: 23%;
  cursor: pointer;
}
.pakistan{
  right: 35%;
  top: 38%;
  cursor: pointer;
}

@keyframes wave{
  from{
    box-shadow: 0 0 0 0 rgb(253, 38, 38);
  }
  to{
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

.hotspot::before{
  content: attr(text);
  width: max-content;
  position: absolute;
  background-color: #fff;
  color: #000;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
}
.canada::before{
  content: attr(text);
  width: max-content;
  position: absolute;
  background-color: #fff;
  color: #000;
  top: -350%;
  transform: translateX(-50%);
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
}
.hotspot::after{
  content: "";
  border-color: transparent transparent #fff;
  border-width: 0 8px 6px;
  border-style: solid;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}
.canada::after{
  content: "";
  border-color: transparent transparent #fff;
  border-width: 0 8px 6px;
  border-style: solid;
  position: absolute;
  top: -100%;
  left: 0;
  transform: rotate(180deg);
}

/* ---------------------CONTACT US DESIGN------------------------ */

.CONTACT-US{
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-size: cover; */
  /* background-position: top center; */
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
  flex: 1;
}
.contact-container h1{
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 10px;
  letter-spacing: 6px;
  color: black;
  text-transform: uppercase;
}
.contact-container h2{
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 0px;
  letter-spacing: 3px;
  color: black;
}
.contact-box{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
form{
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 60px 60px -15px rgba(0,0,0,0.4);
}
form input, form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: #e0e0e0;
  font-size: 16px;
  border-radius: 10px;
}
form button{
  padding: 15px;
  background: #f59d22;
  color: #000;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}



/* -------------------------------FOOTER DESIGN ------------------------ */

.footer{
  text-align: center;
  margin-top: 150px;
  position: relative;
  background-color: #BABABA;
 }
 .footer-box{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  column-gap: 50px;
  margin: 0 auto;
  max-width: 800px;
 }
 .footer1{
  margin-left: 150px;
 }
 .footer1 h1{
  text-align: left;
  font-weight: 100;
  font-size: 15px;
  color: black;
 }
 .footer1 p{
  /* margin-left: 50px; */
  text-align: left;
  font-size: 12px;
  line-height: 25px;
  color: rgb(27, 112, 217);
 }
 .footer2{
  margin-left: 150px;
  width: 100%;
 }
 .footer2 h2{
  text-align: left;
  font-weight: 100;
  font-size: 15px;
  color: black;
 }
 .footer2 p{
  /* margin-left: 50px; */
  text-align: left;
  font-size: 12px;
  line-height: 30px;
  color: rgb(27, 112, 217);
 }
 .footer3{
  margin-left: 150px;
  width: 100%;
 }
 .footer3 h3{
  text-align: left;
  font-weight: 100;
  font-size: 15px;
  color: black;
 }
 .footer-help{
  /* margin-left: 50px; */
  text-align: left;
  font-size: 12px;
  line-height: 40px;
  color: rgb(27, 112, 217);
 }
 .footer-rights{
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 12px;
  bottom: 0;
  right: 0;
  padding: 10px;
 }