*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(building.jpg);
  /* background-color: white; */
  background-size: cover;
  background-position: center;
  z-index: 0;
  position: relative;
}
.rectangle-background{
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 120px;
  position: absolute;
  z-index: -1;
}
.navbar-container{
  float: right;
  margin-right: 30px;
  position: relative;
  z-index: 1000;
  margin-top: -30px;
}
/* .navbar {
  idk just leaving it empty for now i guess
} */
.logo_half{
  width: 160px;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 50px;
}

.navbar ul {
  float: right;
}

.navbar ul li{
  cursor: pointer;
  margin: 0 30px;
  margin-left: 30;
  display: flex;
  align-items: center;
  list-style: none;
  display: inline-block;
  position: relative;
  font-size: 15px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 2px;
  width: 0%;
  background: #2b56b1;
  position: absolute;
  left: 0;
  bottom: -3;
  transition: width 0.5s;
}
.navbar ul li:hover:after{
  width: 100%;
}
#services{
  border: 2px solid rgb(30, 30, 129);
  padding: 10px;
  border-radius: 4px;
  z-index: 1002;
}